<div class="card">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{card.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{card.description}}</p>
      <p *ngIf="card.dueDate">{{card.dueDate | date}}</p>
      <p *ngIf="card.assignee">{{card.assignee.firstName}} {{card.assignee.lastName}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary">EDIT</button>
      <button mat-button color="primary" (click)="onRemoveCard()">REMOVE</button>
    </mat-card-actions>
  </mat-card>
</div>
